name: Hugo Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.152.2'
          extended: true

      - name: Install Dart Sass
        run: |
          sudo apt-get update
          sudo apt-get install -y npm
          sudo npm install -g sass

      - name: Build Site
        run: hugo